// ::-webkit-input-placeholder {
//     color: peachpuff;
//     font-size: 10px;
//   }
//   ::-moz-placeholder {
//     color: peachpuff;
//     font-size: 10px;
//   }
//   :-ms-input-placeholder {
//     color: peachpuff;
//     font-size: 10px;
//   }
  ::placeholder {
    color: peachpuff;
    font-size: .8em;
  }
  $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);