/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@font-face{
    font-family: 'iran-sans';
    src: url(./assets/fonts/IRANSansWeb.ttf) format("ttf"),
        url(./assets/fonts/IRANSansWeb.eot) format("eot"),
        url(./assets/fonts/IRANSansWeb.woff) format("woff"),
        url(./assets/fonts/IRANSansWeb.woff2) format("woff2"),   
}
body{

    &.f{
    font-family: "iran-sans";
    direction: rtl;
}
}
